<template>
    <div class="navBar">
        <div>
            <b-navbar toggleable="sm"  type="light" variant="light">
                <b-navbar-brand router-link to="/">Web Museum Management System</b-navbar-brand>
                
                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
                <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <b-nav-item-dropdown left>
                        <template #button-content>Museum Basic Information</template>
                        <b-nav-item v-if="username!= ''" router-link to="museums">Museum Management</b-nav-item>
                        <b-nav-item v-if="username!= ''" router-link to="museumAreas">Museum Area Management</b-nav-item>
                        <b-nav-item v-if="username!= ''" router-link to="exhibitions">Exhibition Management</b-nav-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>
                <b-navbar-nav>
                    <b-nav-item-dropdown left>
                        <template #button-content>Bluetooth Beacon</template>
                        <b-nav-item v-if="username!= ''" router-link to="mapBeacons">Map Beacon Management</b-nav-item>
                        <b-nav-item v-if="username!= ''" router-link to="additionalBeacons">Additional Information Beacon Management</b-nav-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>
                
                <b-navbar-nav class="ml-auto">
                    <b-nav-item-dropdown right>
                        <template #button-content><em><b-icon icon="person-fill"/><span v-html="username" id="username"></span></em></template>
                        <b-nav-item v-if="username== ''" router-link to="/">SIGN IN</b-nav-item>
                        <b-nav-item v-if="username!= ''" router-link to="Signout">SIGN OUT</b-nav-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>
                </b-collapse>
            </b-navbar>

            
        </div>

        <div class="h2 mb-0">
  </div>
    </div>
</template>

<script>

export default {
    data () {
      return {
        username: '',
        role: false
      }
    },
    async created(){  
        if(localStorage.getItem('username'))
            this.username = localStorage.getItem('username')

        if(localStorage.getItem('role'))
            this.role = localStorage.getItem('role')

        // console.log('username: ' + this.username)
        // console.log('role: ' + this.role)
    }
}
</script>

<style>
    .navBar{
        width: 100%;
        position: fixed;
        z-index:9999
    }
    #logo{
        width: 20%;
    }
</style>