<template>
    <div class="modifyAdditionalBeacon">
        <Navbar/>
        <div class="content">
            <h1>Modify Additional Information Bluetooth Beacon page</h1>
            <b-card class="form">
                <b-button type="button" variant="outline-primary" router-link to="additionalBeacons"><b-icon icon="arrow-left"/> Back to list</b-button>
                <p v-html="errorMsg" id="errorMsg"></p>
                <b-form @submit.prevent="uploadImagetoFirbase">
                    <b-row class="mb-2">
                        <b-col>
                            <b-form-group id="input-group-UUID" label="UUID:*" label-for="uuid">
                                <b-form-input id="uuid" v-model="form.uuid" required disabled />
                            </b-form-group>

                            <b-form-group id="input-group-major" label="MAJOR:*" label-for="major">
                                <b-form-input id="major" v-model="form.major" required disabled />
                            </b-form-group>

                            <b-form-group id="input-group-minor" label="MINOR:*" label-for="minor">
                                <b-form-input id="minor" v-model="form.minor" required disabled />
                            </b-form-group>

                            <b-form-group id="input-group-name_cn" label="Name(Chinese):*" label-for="name_cn">
                                <b-form-input id="name_cn" :state="stateOfname_cn" v-model="form.name_cn" required />
                            </b-form-group>

                            <b-form-group id="input-group-name_en" label="Name(English):*" label-for="name_en">
                                <b-form-input id="name_en" :state="stateOfname_en" v-model="form.name_en" required />
                            </b-form-group>

                            <b-form-group id="input-group-website_url" label="Website URL:*" label-for="website_url">
                                <b-form-input id="website_url" :state="stateOfwebsite_url" v-model="form.website_url" required />
                            </b-form-group>

            
                        </b-col>
                        <b-col>
                            <b-form-group id="input-group-file" label="Museum Photo:" label-for="museumPhoto">
                                <b-form-file
                                    v-model="form.image"
                                    id="image"
                                    placeholder="Choose a file or drop it here..."
                                    drop-placeholder="Drop file here..."
                                    accept="image/*"
                                    :state="stateOfImage"
                                    @change="onFileChange" />
                            </b-form-group>
                            <div id="preview"><img  :src="form.pic_url" /></div>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-button type="submit" class='btnSetting' variant="outline-primary">Submit</b-button>
                        <b-button type="button" @click="resetAll" class='btnSetting' variant="outline-danger">Reset</b-button>
                    </b-row>
                </b-form>
            </b-card>
        </div>
    </div>
</template>

<script>
import firebase from 'firebase';
import axios from 'axios'
export default {
    computed: {
        stateOfname_en() { return  this.form.name_en!=''? this.form.name_en.length >= 1? true : false :null},
        stateOfname_cn() { return  this.form.name_cn!=''? this.form.name_cn.length >= 1? true : false :null},
        stateOfwebsite_url() { return  this.form.website_url!=''? this.form.website_url.length >= 1? true : false :null},
    },
    data() {
      return{
          errorMsg: '',
          form:{
              uuid:'',
              major:'',
              minor:'',
              name_en:'',
              name_cn:'',
              website_url:'',
              image:'',
              imageData:'',
              pic_url:'',
              Opic_url:'',
              uploadValue:0
          },
          
      }
    },
    async created(){
        var _this = this
        axios.get('http://localhost:3000/additionalInfoApi/' + _this.$route.query.beaconID)
            .then(function (response) {
                console.log(response.data)
                _this.form.uuid = response.data.UUID
                _this.form.major = response.data.MAJOR
                _this.form.minor = response.data.MINOR
                _this.form.name_cn = response.data.name_cn
                _this.form.name_en = response.data.name_en
                _this.form.pic_url = response.data.pic_url
                _this.form.Opic_url = response.data.pic_url
                _this.form.website_url = response.data.website_url
            })
            .catch(function (error) {  console.log("Info: " + error); });
    },
    methods: {
        onFileChange(e) {
            if(e.target.value.length == 0){
                this.form.pic_url = this.form.Opic_url;
                this.form.imageData = "";
            }else{
                const file = e.target.files[0];
                this.form.pic_url = URL.createObjectURL(file);
                this.form.imageData = e.target.files[0];
            }
        },
        resetAll(){
            var _this = this
            axios.get('http://localhost:3000/additionalInfoApi/' + _this.$route.query.beaconID)
            .then(function (response) {
                console.log(response.data)
                _this.form.uuid = response.data.UUID
                _this.form.major = response.data.MAJOR
                _this.form.minor = response.data.MINOR
                _this.form.name_cn = response.data.name_cn
                _this.form.name_en = response.data.name_en
                _this.form.pic_url = response.data.pic_url
                _this.form.website_url = response.data.website_url
            })
            .catch(function (error) {  console.log("Info: " + error); });

            this.form.image=''
            this.form.imageData=''
            this.form.uploadValue=''
        },
        uploadImagetoFirbase(){
            var _this = this
            if(this.form.imageData != ''){
                var storage = firebase.storage();
                var storageRef = storage.ref();
                var uploadTask = storageRef.child('/BeaconsAdditionalInfo/' +  _this.form.imageData.name ).put(_this.form.imageData);
                uploadTask.on('state_changed', function(snapshot){
                    var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                    console.log('Upload is ' + progress + '% done');
                    switch (snapshot.state) {
                        case firebase.storage.TaskState.PAUSED:
                        console.log('Upload is paused');
                        break;
                        case firebase.storage.TaskState.RUNNING:
                        console.log('Upload is running');
                        break;
                    }
                }, function(error) {
                    // Handle unsuccessful uploads
                    console.log(error);
                }, function() {
                    uploadTask.snapshot.ref.getDownloadURL().then(function(downloadURL) {
                        _this.form.image = downloadURL;
                        _this.form.uploadValue = 100;
                        console.log('File available at', downloadURL);
                        _this.modifyAdditionalBeacon();
                    });
                });
            }else{
                _this.modifyAdditionalBeacon();
            }
        },
        modifyAdditionalBeacon(){
            if(this.form.pic_url=='')
                this.form.pic_url = this.form.Opic_url;

            var _this = this
            if(_this.form.uuid!= "" && _this.form.major!="" && _this.form.minor!="" && _this.form.name_en != "" && _this.form.name_en != "" && _this.form.pic_url!="" && _this.form.website_url!=""){
                axios.patch('http://localhost:3000/additionalInfoApi/' + _this.$route.query.beaconID, 
                    {
                        UUID:_this.form.uuid,
                        MAJOR:_this.form.major,
                        MINOR:_this.form.minor,
                        name_cn:_this.form.name_cn,
                        name_en: _this.form.name_en,
                        pic_url: _this.form.pic_url,
                        website_url: _this.form.website_url
                    })
                    .then(function (response) {
                        console.log(response.data);
                        alert('Modify Additional Infomation Bluetooth Beacon Successful.');
                        _this.$router.push({ name: 'AdditionalBeaconList' })
                    })
                    .catch(function (error) { 
                        if(typeof(error.response) != 'undefined') 
                            _this.errorMsg = "&#9888; " + error.response.data;
                    });
                
            }else{
                _this.errorMsg = "&#9888; Please fill in all fields in the form";
            }
        }
    }
}
</script>

<style scoped>
.content{
  padding-top: 80px;
}

.modifyAdditionalBeacon{
    width: 100%;
    height: 100%;
    position: relative;
    align-content: center;
    text-align: center;
}

.form{
    width: 80%;
    opacity:0.95;
    margin: 0 auto;
    height: auto;
    text-align: left;
    background: whitesmoke;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
}

.btnSetting{
    width: 50%;
}
#preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
#preview img {
  max-width: 100%;
  max-height: 300px;
}

#errorMsg{
    color: red;
}
</style>
