<template>
    <div class="createMuseumArea">
        <Navbar/>
        <div class="content">
            <h1>Create Museum Area page</h1>
            <b-card class="form">
                <b-button type="button" variant="outline-primary" router-link to="museumAreas"><b-icon icon="arrow-left"/> Back to list</b-button>
                <p v-html="errorMsg" id="errorMsg"></p>
                <b-form @submit.prevent="createMuseumArea">
                    <b-row class="mb-2">
                        <b-col>
                            <b-form-group id="input-group-museum" label="Museum:*" label-for="museum">
                                <b-form-select v-model="form.selected" :options="form.options" :state="stateOfoptions" required/>
                            </b-form-group>

                            <b-form-group id="input-group-namecn" label="Area Name (Chinese):*" label-for="area_cn">
                                <b-form-input id="area_cn" :state="stateOfNameCN" v-model="form.area_cn" required />
                            </b-form-group>

                            <b-form-group id="input-group-nameen" label="Area Name (English):*" label-for="area_en">
                                <b-form-input id="area_en" :state="stateOfNameEN" v-model="form.area_en" required />
                            </b-form-group>

                            <b-form-group id="input-group-pointX" label="Point X:*" label-for="pointX">
                                <b-form-input id="pointX" oninput="this.value=this.value.replace(/[^0-9]/g,'');" :state="stateOfpointX" v-model="form.pointX" minlength="1" maxlength="3" required />
                            </b-form-group>

                            <b-form-group id="input-group-pointY" label="Point Y:*" label-for="pointY">
                                <b-form-input id="pointY" oninput="this.value=this.value.replace(/[^0-9]/g,'');" :state="stateOfpointY" v-model="form.pointY" minlength="1" maxlength="3" required />
                            </b-form-group>
                            

                        </b-col>
                       
                    </b-row>
                    <b-row>
                        <b-button type="submit" class='btnSetting' variant="outline-primary">Submit</b-button>
                        <b-button type="reset" @click="resetAll" class='btnSetting' variant="outline-danger">Reset</b-button>
                    </b-row>
                </b-form>
            </b-card>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    computed: {
        stateOfNameCN() { return  this.form.area_cn!=''?this.form.area_cn.length >=  1? true : false :null},
        stateOfNameEN() { return  this.form.area_en!=''?this.form.area_en.length >=  1? true : false :null},
        stateOfpointX() { return  this.form.pointX!=''? this.form.pointX.length >=1 && this.form.pointX.length <=3 ? true : false :null},
        stateOfpointY() { return  this.form.pointY!=''? this.form.pointY.length >=1 && this.form.pointY.length <=3 ? true : false :null},
        stateOfoptions(){ return  this.form.selected!=null? true: null}
    },
    data() {
      return{
          errorMsg: '',
          form:{
              area_cn:'',
              area_en:'',
              pointX:'',
              pointY:'',
              options: [{ value: null, text: 'Please select an option' }],
              selected:null
          },
          
      }
    },
    async created(){
        var _this = this
        axios.get('http://localhost:3000/api/museums')
            .then(function (response) {
                for(var i = 0; i < response.data.length; i++){
                    var record = {value: response.data[i].id, text: response.data[i].name_cn + response.data[i].name_en}
                    _this.form.options.push(record)
                }

                console.log(_this.form.options)
            })
            .catch(function (error) { console.log(error);});
    },
    methods: {
        resetAll(){
            this.form.nameCN=''
            this.form.nameCN=''
            this.form.pointY=''
            this.form.pointX=''
            this.form.options= [{ value: null, text: 'Please select an option' }]
            this.form.selected=null

            var _this = this
            axios.get('http://localhost:3000/api/museums')
            .then(function (response) {
                for(var i = 0; i < response.data.length; i++){
                    var record = {value: response.data[i].id, text: response.data[i].name_cn + response.data[i].name_en}
                    _this.form.options.push(record)
                }

                console.log(_this.form.options)
            })
            .catch(function (error) { console.log(error);});
        },
        createMuseumArea(){
            var _this = this
            if(_this.form.area_cn!= "" && _this.form.area_en!="" && _this.form.pointX!="" && _this.form.pointY !="" && _this.form.selected != null){
                if(_this.form.pointX >= 0 && _this.form.pointY>=0){
                    console.log(_this.form.museumPhoto)
                    console.log(_this.form.floorplan)

                    axios.post('http://localhost:3000/museumAreaApi/', 
                        {
                            area_cn:_this.form.area_cn,
                            area_en:_this.form.area_en,
                            pointX:_this.form.pointX,
                            pointY:_this.form.pointY,
                            museumID: _this.form.selected
                        })
                        .then(function (response) {
                            console.log(response.data);
                            alert('Create Museum Area Successful.');
                            _this.$router.push({ name: 'MuseumAreaList' })
                        })
                        .catch(function (error) { 
                            if(typeof(error.response) != 'undefined') 
                                _this.errorMsg = "&#9888; " + error.response.data.msg;
                        });
                }else{
                    _this.errorMsg = "&#9888; Point X and Y should be more than or equals to 0";
                }
            }else{
                _this.errorMsg = "&#9888; Please fill in all fields in the form";
            }
        }
    }
}
</script>

<style scoped>
.content{
  padding-top: 80px;
}

.createMuseumArea{
    width: 100%;
    height: 100%;
    position: relative;
    align-content: center;
    text-align: center;
}

.form{
    width: 80%;
    opacity:0.95;
    margin: 0 auto;
    height: auto;
    text-align: left;
    background: whitesmoke;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
}

.btnSetting{
    width: 50%;
}
#preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
#preview img {
  max-width: 100%;
  max-height: 300px;
}

</style>
