<template>
    <div class="createMuseum">
        <Navbar/>
        <div class="content">
            <h1>Create Museum page</h1>
            <b-card class="form">
                <b-button type="button" variant="outline-primary" router-link to="museums"><b-icon icon="arrow-left"/> Back to list</b-button>
                <p v-html="errorMsg" id="errorMsg"></p>
                <b-form @submit.prevent="uploadImagetoFirbase">
                    <b-row class="mb-2">
                        <b-col>
                            <b-form-group id="input-group-namecn" label="Museum Name (Chinese):*" label-for="nameCN">
                                <b-form-input id="nameCN" :state="stateOfNameCN" v-model="form.nameCN" required />
                            </b-form-group>

                            <b-form-group id="input-group-nameen" label="Museum Name (English):*" label-for="nameEN">
                                <b-form-input id="nameEN" :state="stateOfNameEN" v-model="form.nameEN" required />
                            </b-form-group>

                            <b-form-group id="input-group-addresscn" label="Address (Chinese):*" label-for="addressCN">
                                <b-form-input id="addressCN" :state="stateOfAddressCN" v-model="form.addressCN" required />
                            </b-form-group>

                            <b-form-group id="input-group-addressen" label="Address (English):*" label-for="addressEN">
                                <b-form-input id="addressEN" :state="stateOfAddressEN" v-model="form.addressEN" required />
                            </b-form-group>

                            <b-form-group id="input-group-openingHour" label="Opening Hours:*" label-for="openingHour">
                                <b-form-input id="openingHour" :state="stateOfOpeningHour" v-model="form.openingHour" placeholder="10:30-18:00" required />
                            </b-form-group>

                            <b-form-group id="input-group-tel" label="Telephone:*" label-for="tel">
                                <b-form-input type="tel" id="tel" :state="stateOfTel" v-model="form.tel" minlength="8" maxlength="8" required />
                            </b-form-group>

                            <b-form-group id="input-group-web" label="Website:*" label-for="website">
                                <b-form-input id="website" :state="stateOfwebsite" v-model="form.website" required />
                            </b-form-group>

                            <b-form-group id="input-group-remaekCN" label="Remark(Chinese):" label-for="remarkCN">
                                <b-form-textarea id="remarkCN" v-model="form.remarkCN" rows="3" max-rows="5"/>
                            </b-form-group>

                            <b-form-group id="input-group-remaekEN" label="Remark(Chinese):" label-for="remarkCN">
                                <b-form-textarea id="remarkEN" v-model="form.remarkEN" rows="3" max-rows="5"/>
                            </b-form-group>
                        </b-col>
                        <b-col>
                            <b-form-group id="input-group-file" label="Museum Photo:" label-for="museumPhoto">
                                <b-form-file
                                    v-model="form.museumPhoto"
                                    id="museumPhoto"
                                    placeholder="Choose a file or drop it here..."
                                    drop-placeholder="Drop file here..."
                                    accept="image/*"
                                    :state="stateOfMuseumPhoto"
                                    @change="onFileChange_museumPhoto" />
                            </b-form-group>
                            <div id="preview"><img  :src="form.urlOfmp" /></div>

                            <b-form-group id="input-group-file" label="FloorPlan:" label-for="floorplan">
                                <b-form-file
                                    v-model="form.floorplan"
                                    id="floorplan"
                                    placeholder="Choose a file or drop it here..."
                                    drop-placeholder="Drop file here..."
                                    accept="image/*"
                                    :state="stateOfFloorplan"
                                    @change="onFileChange_floorplan" />
                            </b-form-group>
                            <div id="preview"><img  :src="form.urlOffp" /></div>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-button type="submit" class='btnSetting' variant="outline-primary">Submit</b-button>
                        <b-button type="reset" @click="resetAll" class='btnSetting' variant="outline-danger">Reset</b-button>
                    </b-row>
                </b-form>
            </b-card>
        </div>
    </div>
</template>

<script>
import firebase from 'firebase';
import axios from 'axios'
export default {
    computed: {
        stateOfNameCN() { return  this.form.nameCN!=''?this.form.nameCN.length >=  1? true : false :null},
        stateOfNameEN() { return  this.form.nameEN!=''?this.form.nameEN.length >=  1? true : false :null},
        stateOfAddressCN() { return  this.form.addressCN!=''?this.form.addressCN.length >=  1? true : false :null},
        stateOfAddressEN() { return  this.form.addressEN!=''?this.form.addressEN.length >=  1? true : false :null},
        stateOfwebsite() { return  this.form.website!=''?this.form.website.length >=  1? true : false :null},
        stateOfOpeningHour() { return  this.form.openingHour!=''?this.form.openingHour.length ==  11? true : false :null},
        stateOfTel() { return  this.form.tel!=''? this.form.tel.length ==8 ? true : false :null},
        stateOfMuseumPhoto() { return  this.form.imageDataOfmp!=''? true:null},
        stateOfFloorplan() { return  this.form.imageDataOffp!=''? true:null}
    },
    data() {
      return{
          errorMsg: '',
          form:{
              nameCN:'',
              nameEN:'',
              addressCN:'',
              addressEN:'',
              openingHour:'',
              tel:'',
              website:'',
              remarkCN:'',
              remarkEN:'',
              museumPhoto:'',
              floorplan:'',

              urlOfmp:'',
              imageDataOfmp:'',
              uploadValueOfmp: 0,

              urlOffp:'',
              imageDataOffp:'',
              uploadValueOffp: 0
          }
      }
    },
    async created(){
    },
    methods: {
        onFileChange_museumPhoto(e) {
            if(e.target.value.length == 0){
                this.form.urlOfmp = "";
                this.form.imageDataOfmp = "";
            }else{
                const file = e.target.files[0];
                this.form.urlOfmp = URL.createObjectURL(file);
                this.form.imageDataOfmp = e.target.files[0];
            }
        }, 
        onFileChange_floorplan(e) {
            if(e.target.value.length == 0){
                this.form.urlOffp = "";
                this.form.imageDataOffp = "";
            }else{
                const file = e.target.files[0];
                this.form.urlOffp = URL.createObjectURL(file);
                this.form.imageDataOffp = e.target.files[0];
            }
        }, 
        resetAll(){
            this.form.nameCN=''
            this.form.nameCN=''
            this.form.addressCN=''
            this.form.addressEN=''
            this.form.openingHour=''
            this.form.tel=''
            this.form.website=''
            this.form.remarkCN=''
            this.form.remarkEN=''
            this.form.museumPhoto=''
            this.form.floorplan=''

            this.form.urlOfmp=''
            this.form.imageDataOfmp=''
            this.form.uploadValueOfmp= 0

            this.form.urlOffp=''
            this.form.imageDataOffp=''
            this.form.uploadValueOffp= 0
            this.errorMsg=''
        },
        createMuseum(){
            var _this = this
            if(_this.form.museumPhoto!= "" && _this.form.floorplan!="" && _this.form.nameCN!="" && _this.form.nameEN !="" && _this.form.addressCN !="" && _this.form.addressEN !="" && _this.form.openingHour !="" && _this.form.tel !="" && _this.form.website !=""){
                if(_this.form.uploadValueOfmp == 100 && _this.form.uploadValueOffp == 100){
                    console.log(_this.form.museumPhoto)
                    console.log(_this.form.floorplan)

                    axios.post('http://localhost:3000/api/museum', 
                        {
                            name_cn:_this.form.nameCN,
                            name_en:_this.form.nameEN, 
                            address_cn:_this.form.addressCN,
                            address_en:_this.form.addressEN,
                            openingHours: _this.form.openingHour,
                            telephone:_this.form.tel,
                            remark_cn: _this.form.remarkCN,
                            remark_en: _this.form.remarkEN,
                            website: _this.form.website,
                            pic_url: _this.form.museumPhoto,
                            floorPlan: _this.form.floorplan
                        })
                        .then(function (response) {
                            console.log(response.data);
                            alert('Create Museum Successful.');
                            _this.$router.push({ name: 'MuseumList' })
                        })
                        .catch(function (error) { 
                            if(typeof(error.response) != 'undefined') 
                                _this.errorMsg = "&#9888; " + error.response.data.msg;
                        });
                }
            }else{
                _this.errorMsg = "&#9888; Please fill in all fields in the form";
            }
        },
        uploadImagetoFirbase(){
            var _this = this
            var storage = firebase.storage();
            var storageRef = storage.ref();
            var uploadTask = storageRef.child('/Museum/' +  _this.form.imageDataOfmp.name ).put(_this.form.imageDataOfmp);
            uploadTask.on('state_changed', function(snapshot){
                var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                console.log('Upload is ' + progress + '% done');
                switch (snapshot.state) {
                    case firebase.storage.TaskState.PAUSED:
                    console.log('Upload is paused');
                    break;
                    case firebase.storage.TaskState.RUNNING:
                    console.log('Upload is running');
                    break;
                }
            }, function(error) {
                // Handle unsuccessful uploads
                console.log(error);
            }, function() {
                uploadTask.snapshot.ref.getDownloadURL().then(function(downloadURL) {
                    _this.form.museumPhoto = downloadURL;
                    _this.form.uploadValueOfmp = 100;
                    console.log('File available at', downloadURL);
                    _this.uploadImagetoFirbaseFp();
                });
            });
        },
        uploadImagetoFirbaseFp(){
            var _this = this
            var storage = firebase.storage();
            var storageRef = storage.ref();
            var uploadTask = storageRef.child('/FloorPlan/' +  _this.form.imageDataOffp.name ).put(_this.form.imageDataOffp);
            uploadTask.on('state_changed', function(snapshot){
                var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                console.log('Upload is ' + progress + '% done');
                switch (snapshot.state) {
                    case firebase.storage.TaskState.PAUSED:
                    console.log('Upload is paused');
                    break;
                    case firebase.storage.TaskState.RUNNING:
                    console.log('Upload is running');
                    break;
                }
            }, function(error) {
                // Handle unsuccessful uploads
                console.log(error);
            }, function() {
                uploadTask.snapshot.ref.getDownloadURL().then(function(downloadURL) {
                    _this.form.floorplan = downloadURL;
                    _this.form.uploadValueOffp = 100;
                    console.log('File available at', downloadURL);
                    _this.createMuseum();
                });
            });
        }
    }
}
</script>

<style scoped>
.content{
  padding-top: 80px;
}

.createMuseum{
    width: 100%;
    height: 100%;
    position: relative;
    align-content: center;
    text-align: center;
}

.form{
    width: 80%;
    opacity:0.95;
    margin: 0 auto;
    height: auto;
    text-align: left;
    background: whitesmoke;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
}

.btnSetting{
    width: 50%;
}
#preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
#preview img {
  max-width: 100%;
  max-height: 300px;
}

</style>
