<template>
    <div class="museumList">
        <Navbar/>
        <div class="content">
            <h1>Museum List</h1>
            <div class="table">

                <!-- Create Button & Filter  -->
                <div class="tools">
                    <b-button variant="outline-danger" class="mr-3" @click="create">Create</b-button>

                    <b-form-group label="Filter" label-for="filter-input" label-cols-sm="1" label-align-sm="left" label-size="sm" class="mb-0 fsetting">
                    <b-input-group size="sm">
                        <b-form-input id="filter-input" size="lg" v-model="filter" type="search" placeholder="Type to Search" />
                    </b-input-group>
                </b-form-group>
                </div>

                <!-- Pagination -->
                <b-pagination class="tool" v-model="currentPage" :total-rows="rows" :per-page="perPage" first-text="First" prev-text="Prev" next-text="Next" last-text="Last" align="fill" aria-controls="pList"/>

                <!-- Main Table -->
                <b-table id="pList" :items="items" :fields="fields" :per-page="perPage" :current-page="currentPage"
                    :filter="filter"
                    :filter-included-fields="filterOn"
                    stacked="md"
                    show-empty
                    small
                    @filtered="onFiltered" responsive="sm">
                    <template #cell(show_details)="row">
                        <b-button size="sm" variant="outline-dark" @click="row.toggleDetails" class="mr-2">
                        {{ row.detailsShowing ? 'Hide' : 'Show'}} Details
                        </b-button>
                    </template>

                    <!-- Show Detail -->
                    <template #row-details="row">
                        <b-card id="itemCard">
                            <b-row class="mb-2">
                                <b-col><b-button class='btnSetting' variant="outline-primary" @click="modify(row.item)" size="sm">Modify</b-button></b-col>
                                <b-col><b-button class='btnSetting' variant="outline-danger" @click="deleteRecord(row.item)" size="sm">DELETE</b-button></b-col>
                            </b-row>
                            <b-row class="mb-2" id="info">
                                <b-col sm="auto"><b-img thumbnail fluid :src="row.item.pic_url" height="200px" width="200px"/></b-col>
                    
                                <b-col>
                                    <b-row class="mb-2">
                                        <b-col sm="4" class="text-sm-right"><b>博物館:</b></b-col>
                                        <b-col>{{ row.item.name_cn }}</b-col>
                                    </b-row>

                                    <b-row class="mb-2">
                                        <b-col sm="4" class="text-sm-right"><b>Museum:</b></b-col>
                                        <b-col>{{ row.item.name_en }}</b-col>
                                    </b-row>

                                    <b-row class="mb-2">
                                        <b-col sm="4" class="text-sm-right"><b>地址:</b></b-col>
                                        <b-col >{{ row.item.address_cn }}</b-col>
                                    </b-row>

                                    <b-row class="mb-2">
                                        <b-col sm="4" class="text-sm-right"><b>Address:</b></b-col>
                                        <b-col>{{ row.item.address_en }}</b-col>
                                    </b-row>

                                    <b-row class="mb-2">
                                        <b-col sm="4" class="text-sm-right"><b>開放時間: <br/>Opening Hour:</b></b-col>
                                        <b-col>{{ row.item.openingHours }}</b-col>
                                    </b-row>

                                    <b-row class="mb-2">
                                        <b-col sm="4" class="text-sm-right"><b>聯絡電話: <br/>Telephone:</b></b-col>
                                        <b-col>{{ row.item.telephone }}</b-col>
                                    </b-row>
                                </b-col>      
                            </b-row>
                            <b-button size="sm" variant="outline-dark" class='btnSetting' @click="row.toggleDetails">Hide Details</b-button>
                        </b-card>
                    </template>
                </b-table>

                <!-- overlay -->
                <b-overlay :show="overlayOfDel" no-wrap fixed=true @shown="onShown" @hidden="onHidden">
                    <template #overlay>
                        <div v-if="processing" class="text-center p-4 bg-primary text-light rounded">
                            <b-icon icon="cloud-upload" font-scale="4"></b-icon>
                            <div class="mb-3">Processing...</div>
                            <b-progress
                            min="1"
                            max="20"
                            :value="counter"
                            variant="success"
                            height="3px"
                            class="mx-n4 rounded-0"/>
                        </div>
                        <div
                            v-else
                            ref="dialog"
                            tabindex="-1"
                            role="dialog"
                            aria-modal="false"
                            aria-labelledby="form-confirm-label"
                            class="text-center p-3">
                            <p><strong id="form-confirm-label">Are you sure?</strong></p>
                            <div class="d-flex">
                                <b-button variant="outline-danger" class="mr-3" @click="onCancel">Cancel</b-button>
                                <b-button variant="outline-success" @click="onOK">OK</b-button>
                            </div>
                        </div>
                    </template>
                </b-overlay>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import firebase from 'firebase';

export default {
    inject:["reload"],
    data() {
      return{
            fields: [
                {
                    key: 'id',
                    sortable: true,
                    label: 'ID'
                },{
                    key: 'name_cn',
                    sortable: true,
                    label: '博物館'
                },
                {
                    key: 'name_en',
                    sortable: true,
                    label: 'Museum'
                },
                {
                    key: 'show_details',
                    sortable: false
                }
            ],
            perPage: 5,
            currentPage: 1,
            items: [],
            overlayOfDel: false,
            idOfoverlay:'',
            filter: null,
            filterOn: ['name_cn', 'name_en'],
      }
    },
    async created(){
        var _this = this
        firebase.auth().onAuthStateChanged(function(user) {

            if(user) {
                // logged
                axios.get('http://localhost:3000/api/museums')
                    .then(function (response) {
                        console.log(response.data)
                        _this.items = response.data;
                    })
                    .catch(function (error) { 
                        console.log(error);
                    });
            } else {
                _this.$router.push({name: 'SignOut'})
            }
        });  
    },
    methods: {
        create(){
            this.$router.push({name: 'CreateMuseum'})
        },
        modify(item){
            console.log("modify: " + item.id)
            this.$router.push({
                name: 'ModifyMuseum',
                query: {
                    museumID: item.id
                }
            })
        },
        deleteRecord(item){
            console.log("del" + item.id)
            this.overlayOfDel = true
            this.idOfoverlay = item.id
        },

        onShown() { this.$refs.dialog.focus() },
        onHidden() { this.$refs.submit.focus() },
        onCancel() {
            this.overlayOfDel = false
            this.idOfoverlay = ""
        },
        onOK() {
            var _this = this
            axios.delete('http://localhost:3000/api/museum/'+ _this.idOfoverlay)
                .then(function (response) {
                    console.log(response.data)
                    _this.reload()
                })
                .catch(function (error) { 
                    if(typeof(error.response) != 'undefined') 
                        alert(error.response.data.msg)
                });
        },
        onFiltered(filteredItems) {
        this.totalRows = filteredItems.length
        this.currentPage = 1
      }

    },
    computed: {
      rows() {
        return this.items.length
      }
    }
}
</script>

<style scoped>
.museumList{
    width: 100%;
    height: 100%;
    position: relative;
    align-content: center;
    text-align: center;
}

.table{
    width: 80%;
    opacity:0.95;
    margin: 0 auto;
    height: auto;
    text-align: left;
    background: whitesmoke;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.btnSetting{
    width: 100%; 
}

#itemCard{
    text-align:justify;
}

#info{
    height: 200px;
    overflow: scroll;
}

.content{
  padding-top: 80px;
}


.fsetting{
    width: 50%;
    padding-left: 15px;
}
@media screen and (min-width: 1024px){
    .tools{
        width: 100%;
        margin: 5px 5px ;
        display: flex;
        justify-content: flex-start; 
        /* background: rosybrown; */
    }
}
</style>