<template>
    <div class="modifyExhibition">
        <Navbar/>
        <div class="content">
            <h1>Modify Exhibtion page</h1>
            <b-card class="form">
                <b-button type="button" variant="outline-primary" router-link to="exhibitions"><b-icon icon="arrow-left"/> Back to list</b-button>
                <p v-html="errorMsg" id="errorMsg"></p>
                <b-form @submit.prevent="uploadImagetoFirbase">
                    <b-row class="mb-2">
                        <b-col>
                            <b-form-group id="input-group-museum" label="Museum:*" label-for="museum">
                                <b-form-select v-model="form.museumID" :options="form.options" :state="stateOfoptions" required disabled/>
                            </b-form-group>

                            <b-form-group id="input-group-name_cn" label="Exhibition Name (Chinese):*" label-for="name_cn">
                                <b-form-input id="name_cn" :state="stateOfNameCN" v-model="form.name_cn" required disabled/>
                            </b-form-group>

                            <b-form-group id="input-group-name_en" label="Exhibition Name (English):*" label-for="name_en">
                                <b-form-input id="name_en" :state="stateOfNameEN" v-model="form.name_en" required disabled/>
                            </b-form-group>

                            <b-form-group label="Is Special Exhibition?*" v-slot="{ ariaDescribedby }">
                            <b-form-radio-group
                                v-model="form.isSpecialExhibition"
                                :options="form.options2"
                                :aria-describedby="ariaDescribedby"
                                name="isSpecialExhibition"/>
                            </b-form-group>

                            <b-form-group id="input-group-date" label="Exhibition Date:*" label-for="date">
                                <b-form-input id="date" :state="stateOfDate" v-model="form.date" placeholder="20/01/2021 - 28/06/2021" required />
                            </b-form-group>

                            <b-form-group id="input-group-web" label="Website:*" label-for="website_url">
                                <b-form-input id="website_url" :state="stateOfwebsite" v-model="form.website_url" required />
                            </b-form-group>

                            <b-form-group id="input-group-intro_cn" label="Introduction(Chinese):" label-for="intro_cn">
                                <b-form-textarea id="intro_cn" v-model="form.intro_cn" rows="3" max-rows="5"/>
                            </b-form-group>

                            <b-form-group id="input-group-intro_en" label="Introduction(English):" label-for="intro_en">
                                <b-form-textarea id="intro_en" v-model="form.intro_en" rows="3" max-rows="5"/>
                            </b-form-group>
                        </b-col>
                        <b-col>
                            <b-form-group id="input-group-file" label="Image:*" label-for="pic_url">
                                <b-form-file
                                    v-model="form.url"
                                    id="pic_url"
                                    placeholder="Choose a file or drop it here..."
                                    drop-placeholder="Drop file here..."
                                    accept="image/*"
                                    :state="stateOfpic_url"
                                    @change="onFileChange"/>
                            </b-form-group>
                            <div id="preview"><img  :src="form.pic_url" /></div>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-button type="submit" class='btnSetting' variant="outline-primary">Submit</b-button>
                        <b-button type="button" @click="resetAll" class='btnSetting' variant="outline-danger">Reset</b-button>
                    </b-row>
                </b-form>
            </b-card>
        </div>
    </div>
</template>

<script>
import firebase from 'firebase';
import axios from 'axios'
export default {
    computed: {
        stateOfNameCN() { return  this.form.name_cn!=''?this.form.name_cn.length >=  1? true : false :null},
        stateOfNameEN() { return  this.form.name_en!=''?this.form.name_en.length >=  1? true : false :null},
        stateOfwebsite() { return  this.form.website_url!=''?this.form.website_url.length >=  1? true : false :null},
        stateOfDate() { return  this.form.date!=''?this.form.date.length >=  21? true : false :null},
        stateOfpic_url() { return  this.form.imageData!=''? true:null},
        stateOfoptions(){ return  this.form.museumID!=null? true: null},
    },
    data() {
      return{
          errorMsg: '',
          form:{
              name_cn:'',
              name_en:'',
              date:'',
              website_url:'',
              options: [{ value: null, text: 'Please select an option' }],
              museumID:null,
              pic_url:'',
              url:'',
              Opic_url:'',
              imageData:'',
              uploadValue: 0,
              isSpecialExhibition: false,
              options2: [
                { text: 'Yes', value: true },
                { text: 'No', value: false }
              ]
          }
      }
    },
    async created(){
        var _this = this
        axios.get('http://localhost:3000/exhibitionApi/id/' + _this.$route.query.exhibitionID)
            .then(function (response) {
                console.log(response.data)
                _this.form.name_cn = response.data.name_cn
                _this.form.name_en = response.data.name_en
                _this.form.pic_url = response.data.pic_url
                _this.form.url = response.data.pic_url
                _this.form.Opic_url = response.data.pic_url
                _this.form.website_url = response.data.website_url
                _this.form.museumID = response.data.museumId
                _this.form.intro_cn = response.data.intro_cn
                _this.form.intro_en = response.data.intro_en
                _this.form.date = response.data.date
                _this.form.isSpecialExhibition = response.data.isSpecialExhibition
        })
            .catch(function (error) {  console.log("Info: " + error); });

        axios.get('http://localhost:3000/api/museums')
            .then(function (response) {
                for(var i = 0; i < response.data.length; i++){
                    var record = {value: response.data[i].id, text: response.data[i].name_cn + " " + response.data[i].name_en}
                    _this.form.options.push(record)
                }

                console.log(_this.form.options)
            })
            .catch(function (error) { console.log(error);});
    },
    methods: {
        onFileChange(e) {
            if(e.target.value.length == 0){
                this.form.pic_url = this.form.Opic_url;
                this.form.imageData = "";
            }else{
                const file = e.target.files[0];
                this.form.pic_url = URL.createObjectURL(file);
                this.form.imageData = e.target.files[0];
            }
        }, 
        resetAll(){
            var _this = this
            axios.get('http://localhost:3000/exhibitionApi/id/' + _this.$route.query.exhibitionID)
                .then(function (response) {
                    console.log(response.data)
                    _this.form.name_cn = response.data.name_cn
                    _this.form.name_en = response.data.name_en
                    _this.form.pic_url = response.data.pic_url
                    _this.form.Opic_url = response.data.pic_url
                    _this.form.website_url = response.data.website_url
                    _this.form.museumID = response.data.museumId
                    _this.form.intro_cn = response.data.intro_cn
                    _this.form.intro_en = response.data.intro_en
                    _this.form.date = response.data.date
                    _this.form.isSpecialExhibition = response.data.isSpecialExhibition
            })
                .catch(function (error) {  console.log("Info: " + error); });

            axios.get('http://localhost:3000/api/museums')
                .then(function (response) {
                    for(var i = 0; i < response.data.length; i++){
                        var record = {value: response.data[i].id, text: response.data[i].name_cn + " " + response.data[i].name_en}
                        _this.form.options.push(record)
                    }

                    console.log(_this.form.options)
                })
                .catch(function (error) { console.log(error);});
            
        },
        modifyExhibition(){
            console.log("modify")
            var _this = this
            if(_this.form.museumID!= "" && _this.form.name_cn!="" && _this.form.name_en!="" && _this.form.date !="" && _this.form.website_url !=""  !="" && _this.form.pic_url !=""){
             

                    axios.patch('http://localhost:3000/exhibitionApi/exhibition/' + _this.$route.query.exhibitionID, 
                        {
                            museumId: _this.form.museumID,
                            exhibitionName_cn:_this.form.name_cn,
                            exhibitionName_en:_this.form.name_en, 
                            Intro_cn: _this.form.intro_cn,
                            Intro_en: _this.form.intro_en,
                            Date: _this.form.date,
                            pic_url: _this.form.pic_url,
                            website_url: _this.form.website_url,
                            isSpecialExhibition: _this.form.isSpecialExhibition
    
                        })
                        .then(function (response) {
                            console.log(response.data);
                            alert('Modify Exhibition Successful.');
                            _this.$router.push({ name: 'ExhibitionList' })
                        })
                        .catch(function (error) { 
                            if(typeof(error.response) != 'undefined') 
                                _this.errorMsg = "&#9888; " + error.response.data.msg;
                        });
                
            }else{
                _this.errorMsg = "&#9888; Please fill in all fields in the form";
            }
        },
        uploadImagetoFirbase(){
            if(this.form.imageData != ''){
                var _this = this
                var storage = firebase.storage();
                var storageRef = storage.ref();
                var uploadTask = storageRef.child('/Exhibitions/' +  _this.form.imageData.name ).put(_this.form.imageData);
                uploadTask.on('state_changed', function(snapshot){
                    var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                    console.log('Upload is ' + progress + '% done');
                    switch (snapshot.state) {
                        case firebase.storage.TaskState.PAUSED:
                        console.log('Upload is paused');
                        break;
                        case firebase.storage.TaskState.RUNNING:
                        console.log('Upload is running');
                        break;
                    }
                }, function(error) {
                    // Handle unsuccessful uploads
                    console.log(error);
                }, function() {
                    uploadTask.snapshot.ref.getDownloadURL().then(function(downloadURL) {
                        _this.form.pic_url = downloadURL;
                        _this.form.uploadValue = 100;
                        console.log('File available at', downloadURL);
                        _this.modifyExhibition();
                    });
                });
            }else{
                this.form.pic_url = this.form.Opic_url
                this.modifyExhibition();
            }
        }
    }
}
</script>

<style scoped>
.content{
  padding-top: 80px;
}

.modifyExhibition{
    width: 100%;
    height: 100%;
    position: relative;
    align-content: center;
    text-align: center;
}

.form{
    width: 80%;
    opacity:0.95;
    margin: 0 auto;
    height: auto;
    text-align: left;
    background: whitesmoke;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
}

.btnSetting{
    width: 50%;
}
#preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
#preview img {
  max-width: 100%;
  max-height: 300px;
}

</style>
