<template>
    <div class="createMapBeacon">
        <Navbar/>
        <div class="content">
            <h1>Create Map Bluetooth Beacon page</h1>
            <b-card class="form">
                <b-button type="button" variant="outline-primary" router-link to="mapBeacons"><b-icon icon="arrow-left"/> Back to list</b-button>
                <p v-html="errorMsg" id="errorMsg"></p>
                <b-form @submit.prevent="createMapBeacon">
                    <b-row class="mb-2">
                        <b-col>
                            <b-form-group id="input-group-UUID" label="UUID:*" label-for="uuid">
                                <b-form-input id="uuid" :state="stateOfUUID" v-model="form.uuid" required />
                            </b-form-group>

                            <b-form-group id="input-group-major" label="MAJOR:*" label-for="major">
                                <b-form-input id="major" :state="stateOfMANJOR" v-model="form.major" required />
                            </b-form-group>

                            <b-form-group id="input-group-minor" label="MINOR:*" label-for="minor">
                                <b-form-input id="minor" :state="stateOfMINOR" v-model="form.minor" required />
                            </b-form-group>

                            <b-form-group id="input-group-museum" label="Museum:*" label-for="museum">
                                <b-form-select v-model="form.museumID" :options="form.optionsOfMuseum" :state="stateOfoptions" @change="changeMuseum($event)" required/>
                            </b-form-group>

                            <b-form-group id="input-group-area" label="Area:*" label-for="areaID">
                                <b-form-select v-model="form.areaID" :options="form.optionsOfArea" :state="stateOfoptionsArea" required/>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-button type="submit" class='btnSetting' variant="outline-primary">Submit</b-button>
                        <b-button type="reset" @click="resetAll" class='btnSetting' variant="outline-danger">Reset</b-button>
                    </b-row>
                </b-form>
            </b-card>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    computed: {
        stateOfUUID() { return  this.form.uuid!=''?this.form.uuid.length >=  1? true : false :null},
        stateOfMANJOR() { return  this.form.major!=''?this.form.major.length >= 1? true : false :null},
        stateOfMINOR() { return  this.form.minor!=''? this.form.minor.length >= 1? true : false :null},
        stateOfoptions(){ return  this.form.museumID!=null? true: null},
        stateOfoptionsArea(){ return  this.form.areaID!=null? true: null}
    },
    data() {
      return{
          errorMsg: '',
          form:{
              uuid:'',
              major:'',
              minor:'',
              optionsOfMuseum: [{ value: null, text: 'Please select an option' }],
              museumID:null,
              optionsOfArea: [{ value: null, text: 'Please select an option' }],
              areaID:null
          },
          
      }
    },
    async created(){
        var _this = this
        axios.get('http://localhost:3000/api/museums')
            .then(function (response) {
                for(var i = 0; i < response.data.length; i++){
                    var record = {value: response.data[i].id, text: response.data[i].name_cn + " " +  response.data[i].name_en}
                    _this.form.optionsOfMuseum.push(record)
                }

                console.log(_this.form.optionsOfMuseum)
            })
            .catch(function (error) { 
                console.log(error);
            });
    },
    methods: {
        resetAll(){
            this.form.uuid=''
            this.form.major=''
            this.form.minor=''
            this.form.optionsOfMuseum= [{ value: null, text: 'Please select an option' }]
            this.form.museumID=null
            this.form.optionsOfArea= [{ value: null, text: 'Please select an option' }]
            this.form.areaID=null

            var _this = this
            axios.get('http://localhost:3000/api/museums')
            .then(function (response) {
                for(var i = 0; i < response.data.length; i++){
                    var record = {value: response.data[i].id, text: response.data[i].name_cn + " "+ response.data[i].name_en}
                    _this.form.optionsOfMuseum.push(record)
                }

                console.log(_this.form.optionsOfMuseum)
            })
            .catch(function (error) { console.log(error);});
        },
        createMapBeacon(){
            var _this = this
            if(_this.form.uuid!= "" && _this.form.major!="" && _this.form.minor!="" && _this.form.museumID != null && _this.form.areaID != null){
                axios.post('http://localhost:3000/mapBeaconApi/', 
                    {
                        UUID:_this.form.uuid,
                        MAJOR:_this.form.major,
                        MINOR:_this.form.minor,
                        areaID:_this.form.areaID,
                        museumID: _this.form.museumID
                    })
                    .then(function (response) {
                        console.log(response.data);
                        alert('Create Map Bluetooth Beacon Successful.');
                        _this.$router.push({ name: 'MapBeaconList' })
                    })
                    .catch(function (error) { 
                        if(typeof(error.response) != 'undefined') 
                            _this.errorMsg = "&#9888; " + error.response.data;
                    });
                
            }else{
                _this.errorMsg = "&#9888; Please fill in all fields in the form";
            }
        },
        changeMuseum(event){
            var _this = this
            _this.form.areaID = null
            _this.form.optionsOfArea = [{ value: null, text: 'Please select an option' }]
            axios.get('http://localhost:3000/museumAreaApi/area/museumID/' + event)
                .then(function (response) {
                    console.log(response.data)
                    // _this.form.optionsOfArea
                    for(var i = 0; i < response.data.length; i++){
                        var record = {value: response.data[i].id, text: response.data[i].area_cn + " " + response.data[i].area_en}
                        _this.form.optionsOfArea.push(record)
                    }

                    console.log(_this.form.optionsOfArea)
                })
                .catch(function (error) { console.log(error); }); 
        }
    }
}
</script>

<style scoped>
.content{
  padding-top: 80px;
}

.createMapBeacon{
    width: 100%;
    height: 100%;
    position: relative;
    align-content: center;
    text-align: center;
}

.form{
    width: 80%;
    opacity:0.95;
    margin: 0 auto;
    height: auto;
    text-align: left;
    background: whitesmoke;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
}

.btnSetting{
    width: 50%;
}
#preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
#preview img {
  max-width: 100%;
  max-height: 300px;
}

#errorMsg{
    color: red;
}
</style>
