<template>
    <div class="SignoutPage">
        <Navbar/>
    </div>
</template>

<script>
import firebase from 'firebase';
export default {
    async created(){  
        const _router = this.$router
        firebase.auth().signOut()
        .then(function() {
            localStorage.removeItem('username');
            _router.push({ name: 'SignIn' })
        }).catch(function(error) {
            console.log(error.message)
        });
        
    } 
}
</script>

<style scoped>
</style>