<template>
    <div class="SigninPage">
        <Navbar/>
        <b-card bg-variant="light" header="Sign In" class="login">
            <b-form @submit.prevent="login">
                <b-form-group label="Username:" label-for="signin-username" label-cols-sm="3" label-align-sm="right">
                    <b-form-input id="signin-username" v-model="username" type='email' required></b-form-input>
                </b-form-group>

                <b-form-group label="Password:" label-for="signin-pwd" label-cols-sm="3" label-align-sm="right">
                    <b-form-input id="signin-pwd" type="password" v-model="pwd" required></b-form-input>
                </b-form-group>
                <p v-html="errorMsg" id="errorMsg"></p>
                <br/>
                <b-form-group label-align="center"><b-button type='submit' variant="outline-success">Sign In</b-button></b-form-group>
            </b-form>
        </b-card>
    </div>
</template>

<script>
// import axios from 'axios'
import firebase from 'firebase';
export default {
    data () {
      return {
        userName: '',
        password: '',
        errorMsg: ''
      }
    },
    methods: {
      login(){
          var _this = this

          firebase.auth().signInWithEmailAndPassword(this.username, this.pwd)
          .then(result => {
            console.log(result)
            localStorage.setItem('username', this.username);
            _this.errorMsg = null
            _this.$router.push({ name: 'MuseumList' })
          })
          .catch(error => {
            const errorMessage = error.message

            console.log("Msg: " + errorMessage)
            _this.errorMsg = "&#9888; " + errorMessage
          });
      }
    } 
}
</script>

<style scoped>
    .login{
        width: 500px;
        height: 300px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -150px ;
        margin-left: -250px ;
        text-align: center;
        opacity:0.95;
    }

    .SigninPage{
        width: 100%;
        height: 100%;
        position: absolute;
    }

    #errorMsg{
        color: red;
        text-align: left;
        width: 95%;
        margin: 0 auto;
    }

    @media screen and (max-width: 1024px){
        .login{
        width: 400px;
        height: 300px;
        margin-top: -150px ;
        margin-left: -200px ;
        }
    }

    @media screen and (max-width: 375px){
        .login{
        width: 300px;
        height: 350px;
        margin-top: -175px ;
        margin-left: -150px ;
        }
    }
</style>